<div class="container-sm my-5 mx-5">
    <h1>FLIGHTS</h1>
    <div class="box d-flex justify-content-space-between" *ngFor="let flight of flights">
        <div>{{ flight.flightId }}</div>
        <div>{{ flight.departure }}</div>
        <div>{{ flight.landing }}</div>
        <div>{{ flight.duration }}</div>
        <div>{{ flight.price }}</div>
        <div>{{ flight.time }}</div>
    </div>
</div>
<div class="text-center spinner" *ngIf="loading">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
